@model IEnumerable<CoffeShopSystem.ViewModels.OrderVM.OrderDetailsVM>
@using Humanizer

@{
    ViewData["Title"] = "Orders";
}

<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-start align-items-center">
                <a class="btn btn-outline-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Add</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Table</th>
                        <th>Time</th>
                        <th>Discount</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.TableName</td>
                            <td>@order.CreatedAt.Humanize()</td>
                            <td>@order.Discount</td>
                            <td>@order.Total</td>
                            <td>
                                @if (order.Status == "Completed")
                                {
                                    <span class="badge badge-pill bg-success">
                                        <i class="bi bi-check"></i> Completed
                                    </span>
                                }
                                else
                                {
                                    <span class="badge badge-pill bg-danger">
                                        <i class="bi bi-x"></i> Pending
                                    </span>
                                }

                            </td>
                            <td>
                                @if (order.Status == "Pending")
                                {
                                    <form asp-action="ToggleStatus" asp-route-id="@order.Id" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-success">
                                            <i class="bi bi-check2-circle"></i>
                                        </button>
                                    </form>
                                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@order.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-warning btn-sm" asp-action="Delete" asp-route-id="@order.Id"><i class="bi bi-trash3"></i></a>
                                }
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@order.Id"><i class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>